* {
  box-sizing: border-box;
}

.header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navigation {
  height: 40px;
  float: left;
}

.nav-list {
  margin: 0;
}
.nav-item {
  color: white;
  margin-left: 16px;
  float: left;
  display: block;
  line-height: 40px;
}

.content {
  background-color: beige;
  height: 5000px;
}

.head {
  position: absolute;
  background-color: aquamarine;
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  display: block;
  z-index: 0;
}

.ear {
  background-color: brown;
  position: absolute;
  width: 40px;
  height: 60px;
}

.ear_right {
  top: -30%;
  right: -20%;
}

.ear_left {
  top: -30%;
  right: 100%;
}

.eye {
  background-color: grey;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.eye_right {
  margin-top: 80px;
  margin-left: 130px;
}

.eye_left {
  margin-top: 80px;
  margin-left: 40px;
}
