input[type='checkbox'] {
  visibility: hidden;
  width: 0;
  height: 0;
}

.checkbox {
  position: absolute;
  margin: 16px;
  padding-left: 35px;
  font-size: 24px;
}

.checkmark {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #d3d3d3;
  left: 0;
}

.checkbox input:checked + .checkmark {
  background-color: #006400;
}
