* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: yellow;
  height: 40px;
  display: flex;
  align-items: center;
}

.footer {
  background-color: green;
  height: 40px;
  display: flex;
}

.footer_text {
  margin: auto;
}

.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav_item {
  margin-left: 16px;
}

.content {
  flex-grow: 1;
  display: flex;
}

.dashboard {
  background-color: pink;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news {
  background-color: grey;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.news_text {
  margin: 16px 0;
  display: flex;
  justify-content: center;
}

.news_items {
  margin-left: 16px;
}

.news_navigation {
  line-height: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-direction: column;
}
