.box {
  font-size: 24px;
  background-color: bisque;
  width: 420px;
  height: 140px;
  padding: 20px;
  /* border: 10px solid black; */
  border-width: 10px 20px;
  border-style: solid solid dashed dashed;
  border-top-color: firebrick;
  border-right-color: chartreuse;
  border-bottom-color: burlywood;
  border-left-color: aqua;
  margin: 50px 100px;
}
